:root { 
    --background: #FFF0E5;
    --background2: #efcdb5;
    --secondary-highlight: #5533FF;
    --secondary-main: #3A10E5;
    --white: whitesmoke;
    --grey: #828285;
    --font-dark:#10162F;
    --font-light: var(--white);
    --font-light2: var(--grey);
}

* {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--font-dark);

}

html {
    background-color: var(--background);
}

body {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    background-color: var(--background2);
    border-radius: 3.5px;
    box-shadow: 0 0 10px var(--background2);
    margin: 0 5px 20px 5px;
}

@media screen and (min-width: 650px) {
    body {
        max-width: 800px;
    }

    .initial-section {
        display: grid;
        grid-template-rows: 5em 5em 5em;
        grid-template-columns: 1fr;
        grid-template-areas: "row1" "row2" "row3";
    }

    .row1{
        grid-area: row1;
        display: flex;
        align-items: flex-end;
    }
    .row2{
        grid-area: row2;
        display: flex;
        align-items: flex-end;
    }
    
    label.info{
        flex-grow: 2;
        margin-right: 12px;
    }

    #name, #email, #dropdown{
        min-width: 250px;
        max-width: 250px;
        margin: 2px 10px 2px 0px;
    }
    
    #age, #room-number{
        margin: 2px 10px 2px 0px;
        width: 50px;
    }
    .radio-label {
        font-size: 0.8rem;
    }

}

header {
    margin: 0 2em 0 2em;
}

h1{
    font-size: 1.8rem;
    text-align:center;
}

.description {
    font-size: 0.9rem;
    text-align: justify;
    margin: 1em 0.5em 1em 0.5em ;
}

fieldset {
    border: none;
    margin:1.5em 2em 0 2em;
}

.section {
    margin-top: 4em;
    margin-bottom: 0.8em;
    text-align: center;
    font-weight: 600;
}

.question {
    text-align: center;
    margin-top: 0.5em;
}

.facilities{
    text-align: center;
}

/* Inputs - texts, email, number, select options */

input, input[type="number"], textarea, select {
    color: var(--font-dark);
}

input[type='text'], #email, input[type="number"], textarea, select {
    box-shadow: 0 0 5px grey;

}

input, textarea {
    width: 100%;
    padding: 0 0.5em 0 0.5em;
    border: 2.5px;
    border-radius: 3.5px;
    outline: none;
    margin-top: 2px;
    
}
input:focus {
    margin-top: 2px;
    background-color: var(--white);
    border: 2.5px solid var(--secondary-highlight);
}
.info{
    font-size: 0.8rem;
    font-weight: 600;
}

#dropdown:focus {
    background-color: var(--white);
    border: 2.5px solid var(--secondary-main);
    border-radius: 3.5px;
}

#dropdown  {
    outline:none;
    width: 100%;
    border: none;
    margin-bottom: 2px;
    border-radius: 3.5px;
    color: var(--font-dark);
}

.grayed-out {
    color: var(--grey);
}


/* Radios and their labels */

label {
    font-size: 0.7rem;
}
.radio-label {
    margin: 0.2em 0 0.2em 0;
    padding: 5px 3px 5px 3px;
    text-align: center;
}

.radio-label:hover{
    cursor: pointer;
    color: var(--font-light);
    background-color: var(--secondary-highlight);
    border-radius: 5px;
}

input[type='radio'] {
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: var(--secondary-highlight);
}

select {
    padding: 0 0.5em 0 0.5em;
}

::placeholder {
    color: var(--font-light2);
}

.group {
    display:flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 1em 0 1em 0;
    gap: 5em;
}
.subgroup {
    display: flex;
    flex-direction: column;
    min-height: 20%;
}

.big-group {
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    width: 100%;
    padding-top: 2.2em;
    height: 50px;
}

.big-subgroup{
    height: 100px;
    width: 60px;

}

/* submit button  */
.submit{
    background-color: var(--secondary-main);
    color: var(--font-light);
    font-size: 0.9rem;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-top: 25px;
    max-width: 300px;
    box-shadow: 0 0 10px grey;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--secondary-highlight);
}

.submit-wrapper {
    padding-bottom: 5em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.contact {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 0.8rem;
}
input[type="checkbox"] {
    height: 15px;
    width: 15px;
    margin: 0 2em 0 2em ;
    box-shadow: 0 0 5px grey;
    cursor: pointer;
}