* {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

header {
    margin: 0 2em 0 2em;
}

h1{
    font-size: 1.8rem;
    text-align:center;
}

.description {
    font-size: 0.9rem;
    text-align: justify;
    margin: 0.5em;
}

fieldset {
    border: none;
    margin:1.5em 2em 0 2em;
}

.section {
    margin-top: 2em;
    margin-bottom: 0.8em;
    text-align: center;
    font-weight: 600;
}
.question {
    text-align: center;

}

/* Inputs - texts, email, number, select options */


input, textarea {
    width: 100%;
    padding: 0 0.5em 0 0.5em;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    
}
input:focus {
    background-color: orange;
    border: 2.5px solid blue;
}
.info{
    font-size: 0.8rem;
    font-weight: 600;
}


select {
    outline:none;
    color: grey;
    width: 100%;
}

select:focus {
    background-color: orange;
    border-color: blue;
    
}

/* Radios and their labels */

label {
    /* display:block; */
    font-size: 0.7rem;
}
.radio-label {
    margin: 0.2em 0 0.2em 0;
    text-align: center;
    background-color: yellow;
}

select {
    padding: 0 0.5em 0 0.5em;
}

select option{
    background-color: pink;
    color: red;
}
::placeholder {
    color:grey;
}

.group {
    display:flex;
    justify-content: center;
    align-content: center;
    width: 100%;

    padding-top: 1em;
}
.subgroup {
    display: flex;
    flex-direction: column;
    min-height: 20%;
    min-width: 30%;
}